	body {
		background-image: url("../images/tlo.png");
		background-position: center;
		background-attachment: fixed;
		font-family: 'calibri';
	}
	
	.page_content {
		position: relative;
		float: none;
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	
	.header
	{
		position: relative;
		background-color: white;
		width: 100%;
		height: 100%;
	}
	
	ul.menu, ul.menu li
	{
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		letter-spacing: 2px;
	}

	ul.menu
	{
		position: relative;
		width: calc(100%-0px);
	}

	ul.menu li 
	{
		box-sizing: border-box;
		width: 20%;
		float: left;
		border-width: 0 0.5px 5px 0px;
		border-style: solid;
		border-color: transparent;

	}

	.menu a, ul.menu .menu a:visited 
	{
		position: relative;
		text-decoration: blink;
		display: block;
		text-align: center;
		font-size: 23px;
		background-color: #70A8A2;;
		color: #F1F1F1;
		border-top: 5px solid #666;
		border-radius: 12px;
	}

	.menu a:hover 
	{
		background-color: #0A7267;
	}
	.footer
	{	
		position: relative;
		background-color: #414141;
		width: 100%;
		height: 2%;
		float: left;
		color: white;
		text-align: center;
		font-size: 25px;
		opacity: 0.8;

	}
	
	.main
	{
		position: relative;
		width: 30%;
		height: 50%;
		margin-left: auto; 
		margin-right: auto;
		margin-top: 100px;
		border-style: dotted;
		border: 1px solid silver;
		background: rgba(255, 255, 255, .4);
		border-radius: 50px 50px 0px 5px;
	}

	#logowanie {
		width: 100%; 
		margin: 0 auto; 
		font: 16px calibri;
		letter-spacing: -1px;
		-webkit-box-shadow: 0 0 2px silver; 
		-moz-box-shadow: 0 0 2px silver; 
		box-shadow: 0 0 1px silver;
		height: 340px;
	}
	
	#rejestracja {
		width: 100%; 
		margin: 0 auto; 
		font: 16px calibri;
		letter-spacing: -1px;
		-webkit-box-shadow: 0 0 2px silver; 
		-moz-box-shadow: 0 0 2px silver; 
		box-shadow: 0 0 1px silver;
		height: 120px;
		border-top: 1px solid silver;
		background: rgba(255, 255, 255, .3);
		border-radius: 50px 50px 0px 5px;
	}
	
	form {
		margin: 0;
	}
	
	label {
		display: block;
		width: 260px;
		padding: 10px 20px;
		color: #696969;
		font-size: 25px;
		text-shadow: 0 0 1px silver;
	}
	
	#login, #password {
		display: block;
		width: 360px; 
		margin: 0 auto;
		padding: 10px 5px;
		border: 1px solid silver;
		outline: 5px solid #ebebeb;
		font-size: 18px;
		
	}
	
	#login:focus, #password:focus {
		
		outline: 5px solid #e5f2f8;
	}
	
	.dol {
		background-color: red;
		width: 100%;
		height: 100%;
		margin-top: 20px;
	}
	
	.button {
		width: 100%;
		height: 50px;
		padding: 2px 13px;
		border: 1px solid #005f85;
		color: white;
		text-shadow: 0 0 1px black;
		background-color: #70A8A2;
		cursor: pointer;
		color: #white;
		font-weight: bold;
		font-family: calibri;
		font-size: 20px;
	}
		
	.button:hover {
		background-color: #0A7267;
	}

	.button:active {
		background-color: #0A7267;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
	}
	
	.zaloguj {
		position: relative;
		float: right;
		width: 30%;
		margin-right: 50px;
	}
	
	.zarejestruj {
		position: relative;
		width: 40%;
		margin: 0 auto;
		margin-top: 10px;
	}
	
	#logowanie, .button {
		-webkit-border-radius: 5px; 
		-moz-border-radius: 5px; 
		border-radius: 5px; 
	}
	
	.pasek2 {
		background-color: #70A8A2;
		border-radius: 50px 50px 0px 5px;
		width: 100%;
	}
	
	.pasek {
		background-color: #0A7267;
		border-radius: 50px 50px 0px 5px;
		width: 100%;
	}
	
	.log {
		font-size: 40px;
		color: white;
		padding-left: 30px;
	}
	
	.error {
		color: red;
		font-weight: bold;
		font-family: calibri;
		font-size: 12px;
		letter-spacing: 0px;
		float: left;
		margin-left: 100px;
	}
	
	.but {
		float: left;
		width: 100%;
	}
	
	.dalej {

		width:25%;
	}
	
	.leftbox {
		position: relative;
		width: 50%;
		float:left;
	}
	
	.rightbox {
		display: block;
		position: relative;
		width: 50%;
		float:right;
	}
	
	#nazwaodbiorcy, #numerrachunku, #adresodbiorcy, #tytulprzelewu {
		display: block;
		width: 90%; 
		font-size: 12px;
		
	}
	
	.box {
		position: relative;
		width: 60%;
		height: 300px;
		margin-top: 250px;
		margin-left: auto; 
		margin-right: auto;
		border-style: dotted;
		border: 1px solid silver;
		background: rgba(255, 255, 255, .4);
	}
	
	.error2 {
		color: red;
		font-weight: bold;
		font-family: calibri;
		font-size: 20px;
		letter-spacing: 0px;
		float: left;
		margin-top: 10px;
		margin-left: 20px;	
	}